﻿<!DOCTYPE html>
<html>
<head>
    <%- include head.ejs %>
</head>

<body>

    <!-- Preloader --> <!--
    <section id="preloader">
        <div class="loader" id="loader">
            <div class="loader-img"></div>
        </div>
    </section>
    End Preloader -->

    <!-- Sidebar Menu -->
        <%- include sidebar.ejs %>
    <!-- End Sidebar Menu -->

    <!-- Site Wraper -->
    <div class="wrapper">

        <!-- Header ("header--dark", "header-transparent", "header--sticky")-->
            <%- include header.ejs %>
        <!-- End Header -->

        <style>
            h1, h2, h3, h4, h5, h6, a:not(.footerlien) {
                color: #eeeeee;
            }
        </style>

        <style type="text/css">
            /* counter clock css */
            ul.countdown {
                list-style: none;
                padding: 0;
                display: block;
                text-align: center;
                font-family: '', sans-serif !important;
            }

            .font-billetterie-date{
                font-size: 9vw;
            }

            .font-billetterie-date2{
                font-size: 6vw;
            }

            .font-billetterie-date3{
                font-size: 3vw;
            }

            ul.countdown li {
                display: inline-block;
            }

            ul.countdown li span {
                font-size: 7.5vw;
                font-weight: 300;
            }

            ul.countdown li.seperator {
                font-size: 3vw;
                line-height: 30px;
                vertical-align: top;
            }

            ul.countdown li p {
                color: #e83e43;
                font-size: 3vw;
            }
            /* emd counter clock css */

            @media (max-width: 767px) {

                .text-center-xs {
                    text-align: center;
                }
            }

            @media (min-width: 1000px) {
                .font-billetterie-date{
                    font-size: 100px;
                }
                .font-billetterie-date2{
                    font-size: 60px;
                }
                .font-billetterie-date3{
                    line-height: 60px;
                    font-size: 40px;
                }

                ul.countdown li span {
                    font-size: 90px;
                    font-weight: 300;
                }

                ul.countdown li.seperator {
                    font-size: 60px;
                    line-height: 40px;
                    vertical-align: top;
                }

                ul.countdown li p {
                    color: #e83e43;
                    font-size: 28px;
                }
            }
        </style>

        <!-- CONTENT --------------------------------------------------------------------------------->

        <!-- About Section -->
        <section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background4" data-background-img="/img/background/home-mome.jpg">
            <div class="container">
                <div class="title">
                    <div class="h1-titre">BILLETTERIE</div><br>
                    <h4 class="">
                        <span class="text-original-case">Retrouvons-nous tous en 2021 pour un week-end inoubliable.</span>
                    </h4>
                    <h4 class="">
                        <span class="text-original-case">
                        </span>
                    </h4>
                </div>
            </div>
        </section>

        <section id="testimonial" class="dark-bg d-flex ptb p-5 pl-3 pr-3 5 background-2020 pt3">
            <div class="container m-auto">
                <div class="testimonial text-center pb-lg-4">
                    <span class="font-billetterie-date d-none">02 02 2020</span>
                    <span class="font-billetterie-date3">Prochaine édition</span><br>
                    <span class="font-billetterie-date2">21, 22 et 23 mai 2021</span>
                </div>
                <div class="testimonial text-center dark-color">
                    <ul class="countdown pt-4 pb-80" style="color: #e83e43;">
                        <li>
                            <span class="days">00</span>
                            <p class="days_ref">days</p>
                        </li>
                        <li class="seperator">.</li>
                        <li>
                            <span class="hours">00</span>
                            <p class="hours_ref">hours</p>
                        </li>
                        <li class="seperator">:</li>
                        <li>
                            <span class="minutes">00</span>
                            <p class="minutes_ref">minutes</p>
                        </li>
                        <li class="seperator">:</li>
                        <li>
                            <span class="seconds">00</span>
                            <p class="seconds_ref">seconds</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="fond-nuit-back d-none">
            <div class="container text-center pb-5">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h5 class="h4"></h5>
                        <div class="spacer-15"></div>
                        <p class="lead" style="color: greys"></p>
                    </div>
                </div>
            </div>
            <p class="text-center" style="color: #e83e43; font-size: 12px">Carte VA, Pass Région, consultez la <a href="/infos/faq" style="font-weight: bold; color: red">FAQ</a></p>
            <div class="row container text-center m-auto p-0">
                <div class="container col-md-12 col-lg-12 p-0">
                    <a title="Logiciel billetterie en ligne" href="https://weezevent.com/?c=sys_widget"
                       class="weezevent-widget-integration" target="_blank" data-src="https://www.weezevent.com/widget_billeterie.php?id_evenement=568493&lg_billetterie=1&code=37469&width_auto=1&color_primary=e83d44"
                       data-width="650" data-height="600" data-id="568493" data-resize="1" data-width_auto="1" data-noscroll="0" data-nopb="0">Billetterie Weezevent</a>
                    <script type="text/javascript" src="https://www.weezevent.com/js/widget/min/widget.min.js"></script>
                </div>
                <div class="spacer-30 d-none"></div>
            </div>
            <div>

            </div>
        </section>


        <section class="pb pb-sm-80 fond-nuit-back">
            <div class="container">
                <!-- JAUGE AVRIL
                <div class="row d-none">
                    <div class="col-md-8 offset-md-2 jauge-billetterie" style="color: #e83e43; !important;">
                        <div class="text-center"><h4 class="jauge-titre">Jauge billetterie</h4></div>
                        <div class="skillbar deuxs-jauge">
                            <div class="skillbar-title">Pass 2 soirs</div>
                            <div class="skill-bar-percent deuxs-jauge-label">0% ATTEINT</div>
                            <div style="background:
                            linear-gradient(90deg, #472767 0%, #472767 15%, #fff 15%, #fff 16%, #472767 16%, #472767 93%, #fff 93%, #fff 94%, #472767 94%, #472767 100%);">
                                <div class="skillbar-bar skillbar-bar-2020"></div>
                            </div>
                        </div>
                        <div class="skillbar ven-jauge">
                            <div class="skillbar-title">Pass Vendredi</div>
                            <div class="skill-bar-percent ven-jauge-label">0% ATTEINT</div>
                            <div style="background:
                            linear-gradient(90deg, #472767 0%, #472767 8%, #fff 8%, #fff 9%, #472767 9%, #472767 88%, #fff 88%, #fff 89%, #472767 89%, #472767 100%);">
                                <div class="skillbar-bar skillbar-bar-2020"></div>
                            </div>
                        </div>
                        <div class="skillbar sam-jauge">
                            <div class="skillbar-title">Pass Samedi</div>
                            <div class="skill-bar-percent sam-jauge-label">0% ATTEINT</div>
                            <div style="background:
                            linear-gradient(90deg, #472767 0%, #472767 8%, #fff 8%, #fff 9%, #472767 9%, #472767 88%, #fff 88%, #fff 89%, #472767 89%, #472767 100%);">
                                <div class="skillbar-bar skillbar-bar-2020"></div>
                            </div>
                        </div>
                    </div>
                </div>
                -->
                <div class="row pt-2 pt-md-5">
                    <div class="col-md-10 offset-md-1 jauge-billetterie" style="color: #e83e43; !important;">
                        <div class="text-center"><h4 class="jauge-titre mb-0">Tarifs et Jauges</h4>
                            <p class="text-center" style="color: #e83e43; font-size: 12px">Les jauges sont mises à jour automatiquement une fois l'achat confirmé.<br>Des places peuvent se libérer tant qu'elles ne sont pas indiquées "SOLD OUT".<br>
                                * hors frais de location (0,99€) et dans la limite des places disponibles</p></div>
                        <div class="skillbar-title">Pass 2 soirs</div>
                        <div class="skill-bar-percent deuxsoirs-total-jauge-label d-none">0% ATTEINT</div>
                        <div class="row">
                            <div class="col-3 pr-1 position-relative skillbar deuxsoirs-early-jauge">
                                <div class="bar-zone-billetterie d-flex position-relative">
                                    <div class="skillbar-bar skillbar-bar-2020 d-flex position-absolute"></div>
                                    <div class="m-auto position-relative d-flex" style="width: 100%; height: 100%">
                                            <span class="m-auto position-relative" id="prix-deuxsoirs-early">Early bird<br>
                                                <span class="m-auto prix-tarif-zone">12€*</span>
                                            </span>
                                        <div class="m-auto position-absolute d-flex" style="z-index: 6; color: white; width: 100%; height: 100%; opacity: 0.6;">
                                            <span class="font-weight-bold position-relative m-auto letter-spacing-no soldout-tarif-zone d-none" id="so-deuxsoirs-early">SOLD OUT</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-7 pl-1 pr-1 position-relative skillbar deuxsoirs-regular-jauge">
                                <div class="bar-zone-billetterie d-flex position-relative">
                                    <div class="skillbar-bar skillbar-bar-2020 d-flex position-absolute"></div>
                                    <div class="m-auto position-relative d-flex" style="width: 100%; height: 100%">
                                            <span class="m-auto position-relative" id="prix-deuxsoirs-regular">Normal<br>
                                                <span class="m-auto prix-tarif-zone">18€*</span>
                                            </span>
                                        <div class="m-auto position-absolute d-flex" style="z-index: 6; color: white; width: 100%; height: 100%; opacity: 0.6;">
                                            <span class="font-weight-bold position-relative m-auto letter-spacing-no soldout-tarif-zone d-none" id="so-deuxsoirs-regular">SOLD OUT</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 col-lg-2 pl-1 position-relative skillbar deuxsoirs-last-jauge">
                                <div class="bar-zone-billetterie d-flex position-relative">
                                    <div class="skillbar-bar skillbar-bar-2020 d-flex position-absolute"></div>
                                    <div class="m-auto position-relative d-flex" style="width: 100%; height: 100%">
                                            <span class="m-auto position-relative" id="prix-deuxsoirs-last">Last chance<br>
                                                <span class="m-auto prix-tarif-zone">28€*</span>
                                            </span>
                                        <div class="m-auto position-absolute d-flex" style="z-index: 6; color: white; width: 100%; height: 100%; opacity: 0.6;">
                                            <span class="font-weight-bold position-relative m-auto letter-spacing-no soldout-tarif-zone d-none" id="so-deuxsoirs-last">SOLD OUT</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="skillbar-title">Pass Vendredi</div>
                        <div class="skill-bar-percent vendredi-total-jauge-label d-none">0% ATTEINT</div>
                        <div class="row">
                            <div class="col-3 pr-1 position-relative skillbar vendredi-early-jauge">
                                <div class="bar-zone-billetterie d-flex position-relative">
                                    <div class="skillbar-bar skillbar-bar-2020 d-flex position-absolute"></div>
                                    <div class="m-auto position-relative d-flex" style="width: 100%; height: 100%">
                                                <span class="m-auto position-relative" id="prix-vendredi-early">Early bird<br>
                                                    <span class="m-auto prix-tarif-zone">8€*</span>
                                                </span>
                                        <div class="m-auto position-absolute d-flex" style="z-index: 6; color: white; width: 100%; height: 100%; opacity: 0.6;">
                                            <span class="font-weight-bold position-relative m-auto letter-spacing-no soldout-tarif-zone d-none" id="so-vendredi-early">SOLD OUT</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-7 pl-1 pr-1 position-relative skillbar vendredi-regular-jauge">
                                <div class="bar-zone-billetterie d-flex position-relative">
                                    <div class="skillbar-bar skillbar-bar-2020 d-flex position-absolute"></div>
                                    <div class="m-auto position-relative d-flex" style="width: 100%; height: 100%">
                                                <span class="m-auto position-relative" id="prix-vendredi-regular">Normal<br>
                                                    <span class="m-auto prix-tarif-zone">12€*</span>
                                                </span>
                                        <div class="m-auto position-absolute d-flex" style="z-index: 6; color: white; width: 100%; height: 100%; opacity: 0.6;">
                                            <span class="font-weight-bold position-relative m-auto letter-spacing-no soldout-tarif-zone d-none" id="so-vendredi-regular">SOLD OUT</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 col-lg-2 pl-1 position-relative skillbar vendredi-last-jauge">
                                <div class="bar-zone-billetterie d-flex position-relative">
                                    <div class="skillbar-bar skillbar-bar-2020 d-flex position-absolute"></div>
                                    <div class="m-auto position-relative d-flex" style="width: 100%; height: 100%">
                                                <span class="m-auto position-relative" id="prix-vendredi-last">Last chance<br>
                                                    <span class="m-auto prix-tarif-zone">18€*</span>
                                                </span>
                                        <div class="m-auto position-absolute d-flex" style="z-index: 6; color: white; width: 100%; height: 100%; opacity: 0.6;">
                                            <span class="font-weight-bold position-relative m-auto letter-spacing-no soldout-tarif-zone d-none" id="so-vendredi-last">SOLD OUT</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="skillbar-title">Pass Samedi</div>
                        <div class="skill-bar-percent samedi-total-jauge-label d-none">0% ATTEINT</div>
                        <div class="row">
                            <div class="col-3 pr-1 position-relative skillbar samedi-early-jauge">
                                <div class="bar-zone-billetterie d-flex position-relative">
                                    <div class="skillbar-bar skillbar-bar-2020 d-flex position-absolute"></div>
                                    <div class="m-auto position-relative d-flex" style="width: 100%; height: 100%">
                                                    <span class="m-auto position-relative" id="prix-samedi-early">Early bird<br>
                                                        <span class="m-auto prix-tarif-zone">8€*</span>
                                                    </span>
                                        <div class="m-auto position-absolute d-flex" style="z-index: 6; color: white; width: 100%; height: 100%; opacity: 0.6;">
                                            <span class="font-weight-bold position-relative m-auto letter-spacing-no soldout-tarif-zone d-none" id="so-samedi-early">SOLD OUT</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-7 pl-1 pr-1 position-relative skillbar samedi-regular-jauge">
                                <div class="bar-zone-billetterie d-flex position-relative">
                                    <div class="skillbar-bar skillbar-bar-2020 d-flex position-absolute"></div>
                                    <div class="m-auto position-relative d-flex" style="width: 100%; height: 100%">
                                                    <span class="m-auto position-relative" id="prix-samedi-regular">Normal<br>
                                                        <span class="m-auto prix-tarif-zone">12€*</span>
                                                    </span>
                                        <div class="m-auto position-absolute d-flex" style="z-index: 6; color: white; width: 100%; height: 100%; opacity: 0.6;">
                                            <span class="font-weight-bold position-relative m-auto letter-spacing-no soldout-tarif-zone d-none" id="so-samedi-regular">SOLD OUT</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 col-lg-2 pl-1 position-relative skillbar samedi-last-jauge">
                                <div class="bar-zone-billetterie d-flex position-relative">
                                    <div class="skillbar-bar skillbar-bar-2020 d-flex position-absolute"></div>
                                    <div class="m-auto position-relative d-flex" style="width: 100%; height: 100%">
                                                    <span class="m-auto position-relative" id="prix-samedi-last">Last chance<br>
                                                        <span class="m-auto prix-tarif-zone">18€*</span>
                                                    </span>
                                        <div class="m-auto position-absolute d-flex" style="z-index: 6; color: white; width: 100%; height: 100%; opacity: 0.6;">
                                            <span class="font-weight-bold position-relative m-auto letter-spacing-no soldout-tarif-zone d-none" id="so-samedi-last">SOLD OUT</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <h4 class="jauge-titre pr-2 pl-2 mt-4 mb-0 letter-spacing-no">LA BILLETTERIE N'EST PAS ENCORE OUVERTE</h4>
                <p class="text-center pl-3 pr-3" style="color: #e83e43; font-size: 12px">
                    Pour rappel, les billets de l'édition 2020 ne sont pas valables en 2021.<br>
                    Par ailleurs, nous aimerions remercier tout particulierement les personnes qui ont fait don de leur billet, que ce soit totalement ou partiellement. <br>
                    Aujourd'hui, ces dons permettent à notre association de surmonter la crise afin de revenir aussi fort en 2021. <br>
                    Un très grand Merci à vous, ça fait chaud au coeur, et nous tacherons de ne pas vous decevoir ! ❤️
                </p>
            </div>
        </section>

        <section class="pb pb-sm-80 fond-nuit-back d-none">
            <div class="container">
                <!-- JAUGE AVRIL
                <div class="row d-none">
                    <div class="col-md-8 offset-md-2 jauge-billetterie" style="color: #e83e43; !important;">
                        <div class="text-center"><h4 class="jauge-titre">Jauge billetterie</h4></div>
                        <div class="skillbar deuxs-jauge">
                            <div class="skillbar-title">Pass 2 soirs</div>
                            <div class="skill-bar-percent deuxs-jauge-label">0% ATTEINT</div>
                            <div style="background:
                            linear-gradient(90deg, #472767 0%, #472767 15%, #fff 15%, #fff 16%, #472767 16%, #472767 93%, #fff 93%, #fff 94%, #472767 94%, #472767 100%);">
                                <div class="skillbar-bar skillbar-bar-2020"></div>
                            </div>
                        </div>
                        <div class="skillbar ven-jauge">
                            <div class="skillbar-title">Pass Vendredi</div>
                            <div class="skill-bar-percent ven-jauge-label">0% ATTEINT</div>
                            <div style="background:
                            linear-gradient(90deg, #472767 0%, #472767 8%, #fff 8%, #fff 9%, #472767 9%, #472767 88%, #fff 88%, #fff 89%, #472767 89%, #472767 100%);">
                                <div class="skillbar-bar skillbar-bar-2020"></div>
                            </div>
                        </div>
                        <div class="skillbar sam-jauge">
                            <div class="skillbar-title">Pass Samedi</div>
                            <div class="skill-bar-percent sam-jauge-label">0% ATTEINT</div>
                            <div style="background:
                            linear-gradient(90deg, #472767 0%, #472767 8%, #fff 8%, #fff 9%, #472767 9%, #472767 88%, #fff 88%, #fff 89%, #472767 89%, #472767 100%);">
                                <div class="skillbar-bar skillbar-bar-2020"></div>
                            </div>
                        </div>
                    </div>
                </div>
                -->
                <div class="row pt-2 pt-md-5">
                    <div class="col-md-10 offset-md-1 jauge-billetterie" style="color: #e83e43; !important;">
                        <div class="text-center"><h4 class="jauge-titre mb-0">Tarifs et Jauges</h4>
                        <p class="text-center" style="color: #e83e43; font-size: 12px">Les jauges sont mises à jour automatiquement une fois l'achat confirmé.<br>Des places peuvent se libérer tant qu'elles ne sont pas indiquées "SOLD OUT".<br>
                            * hors frais de location (0,99€) et dans la limite des places disponibles</p></div>
                            <div class="skillbar-title">Pass 2 soirs</div>
                            <div class="skill-bar-percent deuxsoirs-total-jauge-label d-none">0% ATTEINT</div>
                            <div class="row">
                                <div class="col-3 pr-1 position-relative skillbar deuxsoirs-early-jauge">
                                    <div class="bar-zone-billetterie d-flex position-relative">
                                        <div class="skillbar-bar skillbar-bar-2020 d-flex position-absolute"></div>
                                        <div class="m-auto position-relative d-flex" style="width: 100%; height: 100%">
                                            <span class="m-auto position-relative" id="prix-deuxsoirs-early">Early bird<br>
                                                <span class="m-auto prix-tarif-zone">12€*</span>
                                            </span>
                                            <div class="m-auto position-absolute d-flex" style="z-index: 6; color: white; width: 100%; height: 100%; opacity: 0.6;">
                                                <span class="font-weight-bold position-relative m-auto letter-spacing-no soldout-tarif-zone d-none" id="so-deuxsoirs-early">SOLD OUT</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-lg-7 pl-1 pr-1 position-relative skillbar deuxsoirs-regular-jauge">
                                    <div class="bar-zone-billetterie d-flex position-relative">
                                        <div class="skillbar-bar skillbar-bar-2020 d-flex position-absolute"></div>
                                        <div class="m-auto position-relative d-flex" style="width: 100%; height: 100%">
                                            <span class="m-auto position-relative" id="prix-deuxsoirs-regular">Normal<br>
                                                <span class="m-auto prix-tarif-zone">18€*</span>
                                            </span>
                                            <div class="m-auto position-absolute d-flex" style="z-index: 6; color: white; width: 100%; height: 100%; opacity: 0.6;">
                                                <span class="font-weight-bold position-relative m-auto letter-spacing-no soldout-tarif-zone d-none" id="so-deuxsoirs-regular">SOLD OUT</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3 col-lg-2 pl-1 position-relative skillbar deuxsoirs-last-jauge">
                                    <div class="bar-zone-billetterie d-flex position-relative">
                                        <div class="skillbar-bar skillbar-bar-2020 d-flex position-absolute"></div>
                                        <div class="m-auto position-relative d-flex" style="width: 100%; height: 100%">
                                            <span class="m-auto position-relative" id="prix-deuxsoirs-last">Last chance<br>
                                                <span class="m-auto prix-tarif-zone">28€*</span>
                                            </span>
                                            <div class="m-auto position-absolute d-flex" style="z-index: 6; color: white; width: 100%; height: 100%; opacity: 0.6;">
                                                <span class="font-weight-bold position-relative m-auto letter-spacing-no soldout-tarif-zone d-none" id="so-deuxsoirs-last">SOLD OUT</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="skillbar-title">Pass Vendredi</div>
                            <div class="skill-bar-percent vendredi-total-jauge-label d-none">0% ATTEINT</div>
                            <div class="row">
                                <div class="col-3 pr-1 position-relative skillbar vendredi-early-jauge">
                                    <div class="bar-zone-billetterie d-flex position-relative">
                                        <div class="skillbar-bar skillbar-bar-2020 d-flex position-absolute"></div>
                                        <div class="m-auto position-relative d-flex" style="width: 100%; height: 100%">
                                                <span class="m-auto position-relative" id="prix-vendredi-early">Early bird<br>
                                                    <span class="m-auto prix-tarif-zone">8€*</span>
                                                </span>
                                            <div class="m-auto position-absolute d-flex" style="z-index: 6; color: white; width: 100%; height: 100%; opacity: 0.6;">
                                                <span class="font-weight-bold position-relative m-auto letter-spacing-no soldout-tarif-zone d-none" id="so-vendredi-early">SOLD OUT</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-lg-7 pl-1 pr-1 position-relative skillbar vendredi-regular-jauge">
                                    <div class="bar-zone-billetterie d-flex position-relative">
                                        <div class="skillbar-bar skillbar-bar-2020 d-flex position-absolute"></div>
                                        <div class="m-auto position-relative d-flex" style="width: 100%; height: 100%">
                                                <span class="m-auto position-relative" id="prix-vendredi-regular">Normal<br>
                                                    <span class="m-auto prix-tarif-zone">12€*</span>
                                                </span>
                                            <div class="m-auto position-absolute d-flex" style="z-index: 6; color: white; width: 100%; height: 100%; opacity: 0.6;">
                                                <span class="font-weight-bold position-relative m-auto letter-spacing-no soldout-tarif-zone d-none" id="so-vendredi-regular">SOLD OUT</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3 col-lg-2 pl-1 position-relative skillbar vendredi-last-jauge">
                                    <div class="bar-zone-billetterie d-flex position-relative">
                                        <div class="skillbar-bar skillbar-bar-2020 d-flex position-absolute"></div>
                                        <div class="m-auto position-relative d-flex" style="width: 100%; height: 100%">
                                                <span class="m-auto position-relative" id="prix-vendredi-last">Last chance<br>
                                                    <span class="m-auto prix-tarif-zone">18€*</span>
                                                </span>
                                            <div class="m-auto position-absolute d-flex" style="z-index: 6; color: white; width: 100%; height: 100%; opacity: 0.6;">
                                                <span class="font-weight-bold position-relative m-auto letter-spacing-no soldout-tarif-zone d-none" id="so-vendredi-last">SOLD OUT</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="skillbar-title">Pass Samedi</div>
                            <div class="skill-bar-percent samedi-total-jauge-label d-none">0% ATTEINT</div>
                            <div class="row">
                                <div class="col-3 pr-1 position-relative skillbar samedi-early-jauge">
                                    <div class="bar-zone-billetterie d-flex position-relative">
                                        <div class="skillbar-bar skillbar-bar-2020 d-flex position-absolute"></div>
                                        <div class="m-auto position-relative d-flex" style="width: 100%; height: 100%">
                                                    <span class="m-auto position-relative" id="prix-samedi-early">Early bird<br>
                                                        <span class="m-auto prix-tarif-zone">8€*</span>
                                                    </span>
                                            <div class="m-auto position-absolute d-flex" style="z-index: 6; color: white; width: 100%; height: 100%; opacity: 0.6;">
                                                <span class="font-weight-bold position-relative m-auto letter-spacing-no soldout-tarif-zone d-none" id="so-samedi-early">SOLD OUT</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-lg-7 pl-1 pr-1 position-relative skillbar samedi-regular-jauge">
                                    <div class="bar-zone-billetterie d-flex position-relative">
                                        <div class="skillbar-bar skillbar-bar-2020 d-flex position-absolute"></div>
                                        <div class="m-auto position-relative d-flex" style="width: 100%; height: 100%">
                                                    <span class="m-auto position-relative" id="prix-samedi-regular">Normal<br>
                                                        <span class="m-auto prix-tarif-zone">12€*</span>
                                                    </span>
                                            <div class="m-auto position-absolute d-flex" style="z-index: 6; color: white; width: 100%; height: 100%; opacity: 0.6;">
                                                <span class="font-weight-bold position-relative m-auto letter-spacing-no soldout-tarif-zone d-none" id="so-samedi-regular">SOLD OUT</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3 col-lg-2 pl-1 position-relative skillbar samedi-last-jauge">
                                    <div class="bar-zone-billetterie d-flex position-relative">
                                        <div class="skillbar-bar skillbar-bar-2020 d-flex position-absolute"></div>
                                        <div class="m-auto position-relative d-flex" style="width: 100%; height: 100%">
                                                    <span class="m-auto position-relative" id="prix-samedi-last">Last chance<br>
                                                        <span class="m-auto prix-tarif-zone">18€*</span>
                                                    </span>
                                            <div class="m-auto position-absolute d-flex" style="z-index: 6; color: white; width: 100%; height: 100%; opacity: 0.6;">
                                                <span class="font-weight-bold position-relative m-auto letter-spacing-no soldout-tarif-zone d-none" id="so-samedi-last">SOLD OUT</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="text-center"><h4 class="jauge-titre pr-2 pl-2 mt-4 mb-0 letter-spacing-no">TU PREFERES FAIRE BENEVOLE !</h4>
                <p class="text-center pl-3 pr-3" style="color: #e83e43; font-size: 12px">Si tu préfères faire bénévole, n'achète pas ta place et <a href="/benevolat" style="font-weight: bold; color: red">inscris toi ici.</a></p></div>
        </section>

        <!-- END CONTENT ---------------------------------------------------------------------------->

        <!-- FOOTER -->
            <%- include footer.ejs %>
        <!-- END FOOTER -->

        <!-- Scroll Top -->
        <a class="scroll-top">
            <i class="fa fa-angle-double-up"></i>
        </a>
        <!-- End Scroll Top -->

    </div>
    <!-- Site Wraper End -->


    <!-- JS -->
    <script src="../js/plugin/jquery.easing.js" type="text/javascript"></script>
    <script src="../js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.flexslider.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fitvids.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.viewportchecker.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.stellar.min.js" type="text/javascript"></script>
    <script src="../js/plugin/wow.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.colorbox-min.js" type="text/javascript"></script>
    <script src="../js/plugin/owl.carousel.min.js" type="text/javascript"></script>
    <script src="../js/plugin/isotope.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/imagesloaded.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fs.tipper.min.js" type="text/javascript"></script>
    <script src="../js/plugin/mediaelement-and-player.min.js"></script>
    <script src="../js/plugin/jquery.downCount.js" type="text/javascript"></script>
    <script src="../js/theme.js" type="text/javascript"></script>

    <script type="text/javascript">
		$("#menu-billetterie").css('color', '#e83e43');
		$("#title-page-nav").append("Billetterie");
		$("#sidebar-menu-billetterie").css('color', '#e83e43');
		$("#sidebar-menu-billetterie2").css('color', '#e83e43');
		onresize = function(event){
            if(innerWidth > 1200) {
                $('#prix-deuxsoirs-last').html('Dernière chance<br><span class="m-auto prix-tarif-zone">28€*</span>');
                $('#prix-vendredi-last').html('Dernière chance<br><span class="m-auto prix-tarif-zone">18€*</span>');
                $('#prix-samedi-last').html('Dernière chance<br><span class="m-auto prix-tarif-zone">18€*</span>');
            } else {
                $('#prix-deuxsoirs-last').html('Last chance<br><span class="m-auto prix-tarif-zone">28€*</span>');
                $('#prix-vendredi-last').html('Last chance<br><span class="m-auto prix-tarif-zone">18€*</span>');
                $('#prix-samedi-last').html('Last chance<br><span class="m-auto prix-tarif-zone">18€*</span>');
            }
        }
    </script>
    <script type="text/javascript">
		$.ajax({
			url: "/billetterie/stats",
			context: document.body,
			complete: function(xhr, status, errorThrown){
				if(xhr.status == 200){
				    var results = JSON.parse(xhr.responseText);
					$('.vendredi-total-jauge-label').text('ATTEINT '+ results.vendredi+'%');
					$('.samedit-total-jauge-label').text('ATTEINT '+ results.vendredi+'%');
					$('.deuxsoirs-total-jauge-label').text('ATTEINT '+ results.deuxsoirs+'%');
					$('.vendredi-total-jauge').attr('data-percent', results.vendredi+'%');
					$('.vendredi-early-jauge').attr('data-percent', results.vendredi_early+'%');
					$('.vendredi-regular-jauge').attr('data-percent', results.vendredi_regular_sell+'%');
					$('.vendredi-last-jauge').attr('data-percent', results.vendredi_last+'%');
					$('.samedi-total-jauge').attr('data-percent', results.samedi+'%');
					$('.samedi-early-jauge').attr('data-percent', results.samedi_early+'%');
					$('.samedi-regular-jauge').attr('data-percent', results.samedi_regular_sell+'%');
					$('.samedi-last-jauge').attr('data-percent', results.samedi_last+'%');
					$('.deuxsoirs-total-jauge').attr('data-percent', results.deuxsoirs+'%');
					$('.deuxsoirs-early-jauge').attr('data-percent', results.deuxsoirs_early+'%');
					$('.deuxsoirs-regular-jauge').attr('data-percent', results.deuxsoirs_regular_sell+'%');
					$('.deuxsoirs-last-jauge').attr('data-percent', results.deuxsoirs_last+'%');
				}else{
					$(".jauge-billetterie").remove();
				}
				skillsProgressBar();
				function skillsProgressBar() {
					$('.skillbar').each(function () {
						$(this).find('.skillbar-bar').animate({
							width: $(this).attr('data-percent')
						}, {duration: 1000,
                            complete: function(){
                                if($(this).parent().parent().attr('data-percent').split('%')[0]>99.9){
                                    $(this).parent().parent().find('.soldout-tarif-zone').removeClass('d-none');
                                }
                            }
						});
					});
				};
			}
		});
    </script>

    <script type="text/javascript">
        $('.countdown').downCount({
            date: '05/21/2021 20:00:00',
            offset: +1
        }, function () {
            return;
        });
    </script>

</body>
</html>
