﻿<!DOCTYPE html>
<html>
<head>
    <%- include head.ejs %>
</head>

<body>

    <!-- Preloader --> <!--

    <!-- End Preloader -->

    <!-- Sidebar Menu -->
        <%- include sidebar.ejs %>
    <!-- End Sidebar Menu -->

    <!-- Site Wraper -->
    <div class="wrapper fond-nuit-back">

        <!-- Header ("header--dark", "header-transparent", "header--sticky")-->
            <%- include header.ejs %>
        <!-- End Header -->
        <style>
            h1, h2, h3, h4, h5, h6, a:not(.footerlien) {
                color: #eeeeee;
            }
        </style>


        <!-- CONTENT --------------------------------------------------------------------------------->

        <section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background4" data-background-img="../img/background/24h_insa_2019_FEDER_2.jpg">
            <div class="container">
                <div class="title">
                    <div class="h1-titre">TIMETABLE</div><br>
                    <h4 class="">
                        <span class="text-original-case">Programme détaillé des concerts de l'édition 2019</span>
                    </h4>
                </div>
            </div>
        </section>

        <div class="mt-3 mb-3"></div>

        <!-- Work Section -->

        <section class="pb pb-5">
            <div class="container">
                <div class="row">
                    <div style="overflow-x: auto" class="m-auto timetable-item">
                        <div style="min-height: 320px; min-width: 900px;">
                            <img style=" object-fit: cover;" src="../documents/timetable_vendredi_24h_INSA_2019.png"/>
                        </div>
                    </div>
                    <div style="overflow-x: auto" class="m-auto timetable-item">
                        <div style="min-height: 320px; min-width: 900px;">
                            <img style=" object-fit: cover;" src="../documents/timetable_samedi_24h_INSA_2019.png"/>
                        </div>
                    </div>
                    <div style="overflow-x: auto" class="m-auto timetable-item col-md-7">
                        <div style="min-height: 220px; min-width: 470px;">
                            <br>
                            <img style=" object-fit: cover;" src="../documents/timetable_dimanche_24h_INSA_2019.png"/>
                        </div>
                    </div>
                    <div style="overflow-x: auto" class="m-auto timetable-item col-md-7">
                        <div style="min-height: 220px; min-width: 470px;">
                            <br>
                            <img style=" object-fit: cover;" src="../documents/timetable_open_air_24h_INSA_2019.png"/>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="pb-xs-60 pb pt-15">
            <div class="col-md-12 m-auto text-center">
                <a href="../documents/timetable_24h_INSA_2019.pdf" class="btn btn-md btn-rouge-concerts mb-1 mt-1">Télécharger la timetable (PDF)</a>
                <a href="../documents/timetable_24h_INSA_2019.png" class="btn btn-md btn-rouge-concerts">Télécharger la timetable (PNG)</a>
            </div>
        </section>

        <style>
            .map-responsive {
                overflow:hidden;
                padding-bottom:66.25%;
                position:relative;
                height:0;
                max-width: 90%;
                margin: auto;
            }
            .map-responsive iframe {
                left:0;
                top:0;
                height:100%;
                width:100%;
                position:absolute;
            }
        </style>

        <!-- End Work Section -->

        <!-- END CONTENT ---------------------------------------------------------------------------->

        <!-- FOOTER -->
            <%- include footer.ejs %>
        <!-- END FOOTER -->

        <!-- Scroll Top -->
        <a class="scroll-top">
            <i class="fa fa-angle-double-up"></i>
        </a>
        <!-- End Scroll Top -->

    </div>
    <!-- Site Wraper End -->


    <!-- JS -->

    <script src="../js/plugin/jquery.easing.js" type="text/javascript"></script>
    <script src="../js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.flexslider.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fitvids.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.viewportchecker.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.stellar.min.js" type="text/javascript"></script>
    <script src="../js/plugin/wow.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.colorbox-min.js" type="text/javascript"></script>
    <script src="../js/plugin/owl.carousel.min.js" type="text/javascript"></script>
    <script src="../js/plugin/isotope.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/imagesloaded.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fs.tipper.min.js" type="text/javascript"></script>
    <script src="../js/plugin/mediaelement-and-player.min.js"></script>
    <script src="../js/theme.js" type="text/javascript"></script>
    <script>
		$(".btn-plus-info").click(function(){
			setTimeout(function(){
				$(".jjj").each(function(i){
					var w = $(this).width();
					if (w > 0) {
						$(".modal-artiste-video").height(w*315/560);
						return false;
                    }
				});
			}, 1000);
		});
		$(window).resize(function() {
			$(".jjj").each(function(i){
				var w = $(this).width();
				if (w > 0) {
					$(".modal-artiste-video").height(w*315/560);
					return false;
				}
			});
		});

		$("#menu-concerts").css('color', '#e83e43');
		$("#sidebar-menu-timetable").css('color', '#e83e43');
    </script>
    <script type="text/javascript">
		$("#title-page-nav").append("Timetable");
    </script>
    
</body>
</html>
