﻿<!DOCTYPE html>
<html>
<head>
    <%- include head.ejs %>
</head>

<body>

    <!-- Preloader --> <!--

    <!-- End Preloader -->

    <!-- Sidebar Menu -->
        <%- include sidebar.ejs %>
    <!-- End Sidebar Menu -->

    <!-- Site Wraper -->
    <div class="wrapper fond-nuit-back">

        <!-- Header ("header--dark", "header-transparent", "header--sticky")-->
            <%- include header.ejs %>
        <!-- End Header -->
        <style>
            h1, h2, h3, h4, h5, h6, a:not(.footerlien) {
                color: #eeeeee;
            }
        </style>


        <!-- CONTENT --------------------------------------------------------------------------------->

        <section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background4" data-background-img="../img/background/tremplin-fuzzcall.jpg">
            <div class="container">
                <div class="title">
                    <div class="h1-titre">TREMPLINS</div><br>
                    <h4 class="">
                        <span class="text-original-case">A la découverte de nouveaux talents qui se produiront sur le festival</span>
                    </h4>
                </div>
            </div>
        </section>

        <div class="mt-3 mb-3"></div>

        <!-- Work Section -->

        <section class="pt-5 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-justify">
                        <h3 class="text-center">LE CONCEPT</h3>
                        <p>Historiquement, les 24 heures de l’INSA organisaient un tremplin rock et un tremplin électro pour permettre à des artistes émergents
                            venant de ces milieux de se produire sur les différentes scènes du festival.</p>
                        <p>Cette année, 2 tremplins découvertes les ont remplacé, laissant une ouverture pour n’importe quels artistes, dans n’importe quels styles
                            de défendre leur musique au <a target="_blank" href="https://toitoilezinc.fr/">Toï Toï le Zinc</a> (Villeurbanne), suite à une sélection.
                            Le maître mot est <b>variété</b>, et ces tremplins nous ont permis de découvrir de nouveaux talents de plusieurs scènes différentes.<br>
                            Au programme cette année : de la pop, de la trance, du reggae, de la musique électronique, en passant par du blues et du rock.
                        </p>
                        <p class="font-italic" style="color: #464e56">Les inscriptions sont fermées pour l'édition 2020, revenez en octobre prochain si vous souhaitez vous inscrire pour participer aux tremplins. </p>
                    </div>
                    <div class="col-md-6 text-justify">
                        <img alt="1" style="object-fit: cover" src="../img/site/tremplin_2020_photo_artistes.jpg" class="item-container photo-concerts-artiste-item">
                    </div>
                </div>
            </div>
        </section>
        <section class="pb-5 pt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-justify">
                        <h3 class="text-center">LES ARTISTES</h3>
                        <p>Le premier tremplin s’est déroulé le mercredi 18 décembre 2019 et nous avons accueilli 4 artistes et leurs projets :
                        <a target="_blank" href="https://www.facebook.com/smadcrew/">SMAD & the green apple band</a>,
                            <a target="_blank" href="https://www.facebook.com/Victormarcofficiel/">Victor Marc</a> et
                        <b><a target="_blank" href="https://www.facebook.com/billetdhumeurofficiel/">Billet d'Humeur</a></b> ainsi que
                        <a target="_blank" href="https://www.facebook.com/Dyfactmusic/">Dyfact</a> qui ont terminé la soirée.</p>
                        <p class="pt-1">Pour le second tremplin, nous avons eu la chance de rencontrer le mercredi 15 janvier, toujours au Toï Toï le Zinc :
                            <a target="_blank" href="https://www.facebook.com/weareinbalance/">In Balance</a>,
                            <b><a target="_blank" href="https://www.facebook.com/darwellstheband/">Darwells</a></b>,
                            <a target="_blank" href="https://www.facebook.com/BOBBY-BLUES-BAND-742735566080619/">Bobby Blues Band</a> et
                            <a target="_blank" href="https://www.facebook.com/Lassanai.musique/">Lassanaï</a>.
                        </p>
                        <p>Après une sélection finale difficile, ce sont <b><a target="_blank" href="https://www.facebook.com/billetdhumeurofficiel/">Billet d'Humeur</a></b>
                            et <b><a target="_blank" href="https://www.facebook.com/darwellstheband/">Darwells</a></b> qui partageront
                            la scène des 24h de l’INSA avec les autres artistes programmés.</p>
                    </div>
                    <div id="testimonial-video-tremplin" class="col-md-6 text-justify m-auto">
                        <iframe id="frame-video-electro" src="https://www.youtube.com/embed/9yoPS1-i6u4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </section>
        <script>
			$(window).resize(function() {
				var w = $('#testimonial-video-tremplin').width();
				if(w > 560*1.5){
					$("#frame-video-electro").height(315*1.5);
					$("#frame-video-electro").width(560*1.5);
				}else {
					$("#frame-video-electro").height(w * 315 / 560);
					$("#frame-video-electro").width(w);
				}
			});
        </script>
        <section class="ptb pt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-justify">
                        <h3 class="text-center">NINKASI MUSIK LAB</h3>
                        <p>Depuis maintenant 3 ans, notre partenaire NINKASI organise son tremplin régional dans le but de mettre sur le devant de la scène de nouveaux groupes et artistes.</p>
                        <p>Le groupe de rap <a target="_blank" href="https://www.youtube.com/watch?v=Xto2VyiDwK0">KIKESA</a> a ainsi ouvert le festival en 2018 ! Depuis, le groupe se produit un peu partout en France dans des salles de concerts et festivals aux côtés de Lorenzo, Nekfeu ou encore Orelsan.</p>
                        <p>Le Ninkasi Musik Lab a aussi permis de révéler et accompagner les groupes <a target="_blank" href="https://www.youtube.com/watch?v=XgYWhT0ZA3k">Effigie</a>,
                            <a target="_blank" href="https://www.youtube.com/watch?v=bXNsT1XMPpY">Bear's Towers</a>
                            et <a target="_blank" href="https://www.youtube.com/watch?v=CL5zsdya6sU">Blade</a>
                            qui se sont produit sur les 24' en 2019.</p>
                        <p>Cette année, un membre de l'équipe des 24h de l'INSA fera parti du jury afin de sélectionner les meilleurs groupes pour le festival !</p>
                    </div>
                    <div class="col-md-6 text-justify">
                        <img alt="1" style="object-fit: cover" src="../img/site/ninkasi_musik_lab.jpg" class="item-container photo-concerts-artiste-item">
                    </div>
                </div>
            </div>
        </section>

        <!-- End Work Section -->

        <!-- END CONTENT ---------------------------------------------------------------------------->

        <!-- FOOTER -->
            <%- include footer.ejs %>
        <!-- END FOOTER -->

        <!-- Scroll Top -->
        <a class="scroll-top">
            <i class="fa fa-angle-double-up"></i>
        </a>
        <!-- End Scroll Top -->

    </div>
    <!-- Site Wraper End -->


    <!-- JS -->

    <script src="../js/plugin/jquery.easing.js" type="text/javascript"></script>
    <script src="../js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.flexslider.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fitvids.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.viewportchecker.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.stellar.min.js" type="text/javascript"></script>
    <script src="../js/plugin/wow.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.colorbox-min.js" type="text/javascript"></script>
    <script src="../js/plugin/owl.carousel.min.js" type="text/javascript"></script>
    <script src="../js/plugin/isotope.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/imagesloaded.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fs.tipper.min.js" type="text/javascript"></script>
    <script src="../js/plugin/mediaelement-and-player.min.js"></script>
    <script src="../js/theme.js" type="text/javascript"></script>
    <script>
		$(".btn-plus-info").click(function(){
			setTimeout(function(){
				$(".jjj").each(function(i){
					var w = $(this).width();
					if (w > 0) {
						$(".modal-artiste-video").height(w*315/560);
						return false;
                    }
				});
			}, 1000);
		});
		$(window).resize(function() {
			$(".jjj").each(function(i){
				var w = $(this).width();
				if (w > 0) {
					$(".modal-artiste-video").height(w*315/560);
					return false;
				}
			});
		});

		$("#menu-concerts").css('color', '#e83e43');
		$("#sidebar-menu-tremplins").css('color', '#e83e43');
    </script>
    <script type="text/javascript">
		$("#title-page-nav").append("Tremplins");
    </script>
    
</body>
</html>
