﻿<!DOCTYPE html>
<html>
<head>
    <%- include head.ejs %>
</head>

<body>

    <!-- Preloader --> <!--
    <section id="preloader">
        <div class="loader" id="loader">
            <div class="loader-img"></div>
        </div>
    </section>
    <!-- End Preloader -->

    <!-- Sidebar Menu -->
        <%- include sidebar.ejs %>
    <!-- End Sidebar Menu -->

    <!-- Site Wraper -->
    <div class="wrapper">

        <!-- Header ("header--dark", "header-transparent", "header--sticky")-->
            <%- include header.ejs %>
        <!-- End Header -->
        <!-- CONTENT --------------------------------------------------------------------------------->

        <section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background4" data-background-img="../img/background/courses-caritatives.jpg">
            <div class="container">
                <div class="title">
                    <div class="h1-titre">COURSES CARITATIVES</div><br>
                    <h4 class="">
                        <span class="text-original-case">Une performance sportive doublée d’une volonté de faire changer les choses ?<br>
                                Retrouvez toutes les infos de la course caritative de l'édition 2020.</span>
                    </h4>
                </div>
            </div>
        </section>

        <div class="mt-3 mb-3"></div>

        <!-- Work Section -->
        <section class="pt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-justify">
                        <h5 class="text-center">Que soutenons-nous ensemble ?</h5>
                        <p>Durant cet évènement nous soutenons l’association <b>FilActions</b>, spécialisée dans la <b>lutte contre les
                                violences faites aux femmes</b>. Les dons collectés grâce à votre générosité serviront à financer des
                            formations mais aussi et surtout des actions de sensibilisation et de prévention contre les
                            violences sexistes.
                        </p>
                        <h5 class="text-center pt-2">Qu’est ce que l’association FilActions ? Que fait-elle ?</h5>
                        <p>FilActions à été créée en décembre 2004 avec la volonté de mener des actions publiques sur le
                            thème de l’égalité des sexes. Aujourd’hui et à l’échelle nationale, elle est la seule association qui
                            agit dans le domaine de la prévention des violences conjugales en utilisant la culture et
                            l’évènementiel.
                        </p>
                        <p>Les dons récoltés lui permettent de mener des campagnes de prévention et de sensibilisation.
                            Ses actions de sensibilisation ont pour buts principaux de libérer la parole, rendre visibles les
                            violences sexistes et conjugales, et diffuser les ressources et solutions existantes.</p>
                        <p>Pour plus d'informations, visitez leur site : <a href="http://www.filactions.org/" target="_blank">http://www.filactions.org/</a></p>
                    </div>
                    <div class="col-md-6 text-justify m-auto" style="max-width:550px;">
                        <img alt="1" style="object-fit: cover" src="../img/site/courses_caritatives_photo.jpg" class="item-container">
                    </div>
                </div>
            </div>
        </section>
        <section class="pt-2">
            <div class="container">
                <div class="row">
                        <div class="col-md-3 text-justify m-auto pb-3">
                        <img alt="1" style="object-fit: cover" src="../img/partenaires/logo_filactions_couleur_sf.png" class="item-container">
                    </div>
                    <div class="col-md-9 text-justify">
                        <h5 class="text-center">Comment agir ?</h5>
                        <p>Plusieurs possibilités s’offrent à vous pour lutter à votre échelle contre les violences sexistes.<br>
                            Vous pouvez directement faire un don via le site de FilActions <a href="http://www.filactions.org/nous-soutenir/" target="_blank">http://www.filactions.org/nous-soutenir/</a> ou alors
                            participer à la courses caritative ! En participant à cette course, vous pouvez faire le choix de faire
                            un don directement lors de votre inscription, ou faire une promesse de don en fonction du nombre
                            de kilomètre ou de tour parcouru pendant votre course (par exemple vous promettez de verser
                            tant par kilomètre parcouru, et vous faites un don final à la fin de votre course).
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="wow fadeIn ptb ptb-sm-80">
            <div class="container">
                <div class="spacer-30"></div>
                <div class="owl-carousel client-carousel nf-carousel-theme ">
                    <div class="item">
                        <div class="client-logo m-2">
                            <img src="../img/partenaires/logo_isosteo_couleur_sf.png" alt="" style="object-fit: scale-down" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo m-2 ml-4 mr-4">
                            <img src="../img/partenaires/logo_etablicyclette_couleur_sf.png" alt="" style="object-fit: scale-down" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo m-2 ml-4 mr-4">
                            <img src="../img/partenaires/logo_cycles_manudany_noir_sf.png" alt="" style="object-fit: scale-down" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo m-2 ml-4 mr-4">
                            <img src="../img/partenaires/logo_runalp_couleur_sf.png" alt="" style="object-fit: scale-down" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo m-2 ml-4 mr-4">
                            <img src="../img/partenaires/logo_aquarium_de_lyon_couleur_sf.png" alt="" style="object-fit: scale-down" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo m-2 ml-4 mr-4">
                            <img src="../img/partenaires/logo_megazone_couleur_sf.png" alt="" style="object-fit: scale-down" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo m-2">
                            <img src="../img/partenaires/logo_filactions_couleur_sf.png" alt="" style="object-fit: scale-down" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Work Section -->
        
        <!-- END CONTENT ---------------------------------------------------------------------------->

        <!-- FOOTER -->
            <%- include footer.ejs %>
        <!-- END FOOTER -->

        <!-- Scroll Top -->
        <a class="scroll-top">
            <i class="fa fa-angle-double-up"></i>
        </a>
        <!-- End Scroll Top -->

    </div>
    <!-- Site Wraper End -->


    <!-- JS -->

    <script src="../js/plugin/jquery.easing.js" type="text/javascript"></script>
    <script src="../js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.flexslider.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fitvids.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.viewportchecker.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.stellar.min.js" type="text/javascript"></script>
    <script src="../js/plugin/wow.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.colorbox-min.js" type="text/javascript"></script>
    <script src="../js/plugin/owl.carousel.min.js" type="text/javascript"></script>
    <script src="../js/plugin/isotope.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/imagesloaded.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fs.tipper.min.js" type="text/javascript"></script>
    <script src="../js/plugin/mediaelement-and-player.min.js"></script>
    <script src="../js/theme.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.downCount.js" type="text/javascript"></script>

    <script type="text/javascript">
		$("#menu-courses").css('color', '#e83e43');
		$("#sidebar-menu-caritative").css('color', '#e83e43');
        $("#title-page-nav").append("Course Caritative");
    </script>


    
</body>
</html>
