﻿<!DOCTYPE html>
<html>
<head>
    <%- include head.ejs %>
</head>

<body>

<!-- Preloader --> <!--
 <!--
<section id="preloader">
    <div class="loader" id="loader">
        <div class="loader-img"></div>
    </div>
</section>
<!-- End Preloader -->

<!-- Sidebar Menu -->
<%- include sidebar.ejs %>
<!-- End Sidebar Menu -->

<!-- Site Wraper -->
<div class="wrapper">

    <!-- Header ("header--dark", "header-transparent", "header--sticky")-->
    <%- include header.ejs %>
    <!-- End Header -->


    <!-- CONTENT --------------------------------------------------------------------------------->

    <!-- About Section -->
    <section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background4" data-background-img="../img/background/courses_2020.jpg">
        <div class="container">
            <div class="title">
                <div class="h1-titre">INSCRIPTIONS COURSES</div><br>
                <h4 class="">
                    <span class="text-original-case">Course à pied ? Vélo ? Triathlon ? Seul ou en équipe relevez le défi des 24 heures de courses !</span>
                </h4>
            </div>
        </div>
    </section>
    <!-- End About Section -->

    <section class="pb-5 pt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 m-auto">
                    <div class="contact-box-left mb-45">
                        <div class="contact-icon-left"><i class="ion ion-information-circled"></i></div>
                        <h6>INFORMATIONS</h6>
                        <p>Retrouvez toutes les informations des courses sur la page : <a href="/courses/informations">Courses / Informations</a>.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 m-auto">
                    <!--<h3 class="text-center color-courses">FORMULAIRE D'INSCRIPTION</h3>-->
                    <!-- Contact FORM -->
                    <form class="contact-form" id="contact" role="form" action="/courses/inscriptions" method="post">

                        <% if(locals.messageSucces != undefined){ %>
                        <h6 class="text-success">
                            <i class="fa fa-check left" style="color: #5cb45d;"></i>
                            <%= locals.messageSucces %>
                        </h6>
                        <% } %>
                        <% if(locals.messageEchec != undefined){ %>
                        <h6 class="text-danger">
                            <i class="fa fa-exclamation-circle left" style="color: #e1534f;"></i>
                            <%= locals.messageEchec %>
                        </h6>
                        <% } %>

                        <div class="form-field-wrapper">
                            <h6>Nom d'équipe / Login</h6>
                            <input class="input-sm form-full" id="" type="text" name="team_name" placeholder="Nom d'équipe" required>
                        </div>

                        <div class="form-field-wrapper">
                            <h6 class="mb-0">Mot de passe</h6>
                            <p class="" style="font-size: 10px">Choisissez un mot de passe que vous pourrez partager avec les autres membres de votre équipe</a></p>
                            <input class="input-sm form-full" id="" type="password" name="team_password" placeholder="Mot de passe" required>
                        </div>

                        <div class="form-field-wrapper">
                            <h6>Confirmation de mot de passe</h6>
                            <input class="input-sm form-full" id="" type="password" name="team_password2" placeholder="Mot de passe confirmation" required>
                        </div>

                        <div class="form-field-wrapper">
                            <h6>Catégorie</h6>
                            <select class="input-sm form-full" id="form-to" type="text" name="team_category_id" placeholder="" style="background: white">
                                <% if(locals.categories != undefined){ %>
                                <% locals.categories.forEach((categorie, index) => { %>
                                    <% if(categorie.category_full == 0){ %>
                                        <option value="<%= categorie.category_id %>"><%= categorie.category_label %></option>
                                    <% } %>
                                <% })  %>
                                <% } %>
                            </select>
                            <p class="pt-2 d-none" style="font-size: 10px">Le TRIATHLON est complet ! Liste d'attente : <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fdocs.google.com%2Fforms%2Fd%2Fe%2F1FAIpQLScV_xnKAqqyWKIW2tdohZIgS-lER3j_0FJwiZLjKM3E6k8ojA%2Fviewform%3Fusp%3Dpp_url%26fbclid%3DIwAR0dSuKUnJMDW1gKGKjXo6QakXcZxK5KCTpMkXy0B5NcDkjUNViVagHwmxs&h=AT0qw_g66qis0Lu0SQB_Vopj0yYy_JLdrMpvL0hBfOZ_I9ZHJpUAApcrwSwdhF0IlVoKLutNd79DjbBijWZAtAg8Dfj3ZS5MLb83h9ALMx2mzu8hhmn3X6yzs9U">Ici</a></p>
                        </div>

                        <br>
                        <div style="border-color: grey; border-style: solid;"></div>
                        <br>
                        <br>

                        <div class="form-field-wrapper">
                            <h6>Prénom du chef d'équipe</h6>
                            <input class="input-sm form-full" id="" type="text" name="participant_name" placeholder="Prenom" required>
                        </div>

                        <div class="form-field-wrapper">
                            <h6>Nom du chef d'équipe</h6>
                            <input class="input-sm form-full" id="" type="text" name="participant_surname" placeholder="Nom" required>
                        </div>

                        <div class="form-field-wrapper">
                            <h6>Date de naissance du chef d'équipe</h6>
                            <input class="input-sm form-full" id="" type="date" name="participant_birthdate" placeholder="Date de naissance" required>
                        </div>

                        <div class="form-field-wrapper">
                            <h6>Etudiant INSA avec une carte VA ?</h6>
                            <select class="input-sm form-full" id="form-to" type="text" name="participant_student" value="" style="background: white">
                                <option value="0">Non</option>
                                <option value="1">Oui</option>
                            </select>
                        </div>

                        <div class="form-field-wrapper">
                            <h6>Telephone chef d'équipe</h6>
                            <input class="input-sm form-full" id="" type="tel" name="participant_telephone" placeholder="Telephone" required>
                        </div>

                        <div class="form-field-wrapper">
                            <h6>Email du chef d'équipe</h6>
                            <input class="input-sm form-full" id="" type="email" name="participant_email" placeholder="Email" required>
                        </div>

                        <button class="btn btn-md btn-black form-full btn-send" type="submit" id="form-submit" name="submit">Créer le compte de l'équipe</button>
                        <p style="color:red; padding-top: 5px">Attention 1 équipe = 1 seul compte. Veuillez NE PAS CREER d'autre compte si des coureurs de votre équipe l'on déjà fait.</p>
                    </form>
                    <!-- END Contact FORM -->
                </div>
            </div>
        </div>
    </section>
    <section class="wow fadeIn ptb ptb-sm-80">
        <div class="container">
            <div class="spacer-30"></div>
            <div class="owl-carousel client-carousel nf-carousel-theme ">
                <div class="item">
                    <div class="client-logo m-2">
                        <img src="../img/partenaires/logo_isosteo_couleur_sf.png" alt="" style="object-fit: scale-down" />
                    </div>
                </div>
                <div class="item">
                    <div class="client-logo m-2 ml-4 mr-4">
                        <img src="../img/partenaires/logo_etablicyclette_couleur_sf.png" alt="" style="object-fit: scale-down" />
                    </div>
                </div>
                <div class="item">
                    <div class="client-logo m-2 ml-4 mr-4">
                        <img src="../img/partenaires/logo_cycles_manudany_noir_sf.png" alt="" style="object-fit: scale-down" />
                    </div>
                </div>
                <div class="item">
                    <div class="client-logo m-2 ml-4 mr-4">
                        <img src="../img/partenaires/logo_runalp_couleur_sf.png" alt="" style="object-fit: scale-down" />
                    </div>
                </div>
                <div class="item">
                    <div class="client-logo m-2 ml-4 mr-4">
                        <img src="../img/partenaires/logo_aquarium_de_lyon_couleur_sf.png" alt="" style="object-fit: scale-down" />
                    </div>
                </div>
                <div class="item">
                    <div class="client-logo m-2 ml-4 mr-4">
                        <img src="../img/partenaires/logo_megazone_couleur_sf.png" alt="" style="object-fit: scale-down" />
                    </div>
                </div>
                <div class="item">
                    <div class="client-logo m-2 ml-4 mr-4">
                        <img src="../img/partenaires/logo_escapegame_couleur_fond.jpg" alt="" style="object-fit: scale-down" />
                    </div>
                </div>
                <div class="item">
                    <div class="client-logo m-2">
                        <img src="../img/partenaires/logo_filactions_couleur_sf.png" alt="" style="object-fit: scale-down" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- END CONTENT ---------------------------------------------------------------------------->

    <!-- FOOTER -->
    <%- include footer.ejs %>
    <!-- END FOOTER -->

    <!-- Scroll Top -->
    <a class="scroll-top">
        <i class="fa fa-angle-double-up"></i>
    </a>
    <!-- End Scroll Top -->

</div>
<!-- Site Wraper End -->


<!-- JS -->

<script src="../js/plugin/jquery.easing.js" type="text/javascript"></script>
<script src="../js/jquery-ui.min.js" type="text/javascript"></script>
<script src="../js/bootstrap.min.js" type="text/javascript"></script>
<script src="../js/plugin/jquery.flexslider.js" type="text/javascript"></script>
<script src="../js/plugin/jquery.fitvids.js" type="text/javascript"></script>
<script src="../js/plugin/jquery.viewportchecker.js" type="text/javascript"></script>
<script src="../js/plugin/jquery.stellar.min.js" type="text/javascript"></script>
<script src="../js/plugin/wow.min.js" type="text/javascript"></script>
<script src="../js/plugin/jquery.colorbox-min.js" type="text/javascript"></script>
<script src="../js/plugin/owl.carousel.min.js" type="text/javascript"></script>
<script src="../js/plugin/isotope.pkgd.min.js" type="text/javascript"></script>
<script src="../js/plugin/masonry.pkgd.min.js" type="text/javascript"></script>
<script src="../js/plugin/imagesloaded.pkgd.min.js" type="text/javascript"></script>
<script src="../js/plugin/jquery.fs.tipper.min.js" type="text/javascript"></script>
<script src="../js/plugin/mediaelement-and-player.min.js"></script>
<script src="../js/theme.js" type="text/javascript"></script>
<script>
	$(".btn-plus-info").click(function(){
		setTimeout(function(){
			$(".jjj").each(function(i){
				var w = $(this).width();
				if (w > 0) {
					$(".modal-artiste-video").height(w*315/560);
					return false;
				}
			});
		}, 1000);
	});
	$(window).resize(function() {
		$(".jjj").each(function(i){
			var w = $(this).width();
			if (w > 0) {
				$(".modal-artiste-video").height(w*315/560);
				return false;
			}
		});
	});
	$("#menu-courses").css('color', '#e83e43');
	$("#sidebar-menu-inscriptions").css('color', '#e83e43');
</script>
<script type="text/javascript">
	$("#title-page-nav").append("Inscriptions courses");
</script>

</body>
</html>
