﻿<!DOCTYPE html>
<html>
<head>
    <%- include head.ejs %>
</head>

<body>

    <!-- Preloader --> <!--
    <section id="preloader">
        <div class="loader" id="loader">
            <div class="loader-img"></div>
        </div>
    </section>
    <!-- End Preloader -->

    <!-- Sidebar Menu -->
        <%- include sidebar.ejs %>
    <!-- End Sidebar Menu -->

    <!-- Site Wraper -->
    <div class="wrapper">

        <!-- Header ("header--dark", "header-transparent", "header--sticky")-->
            <%- include header.ejs %>
        <!-- End Header -->

        <style>
            h1, h2, h3, h4, h5, h6, a:not(.footerlien) {
                color: #eeeeee;
            }
        </style>

        <style type="text/css">
            /* counter clock css */
            ul.countdown {
                list-style: none;
                padding: 0;
                display: block;
                text-align: center;
                font-family: '', sans-serif !important;
            }

            .font-billetterie-date{
                font-size: 9vw;
            }

            .font-billetterie-date2{
                font-size: 3vw;
            }

            ul.countdown li {
                display: inline-block;
            }

            ul.countdown li span {
                font-size: 7.5vw;
                font-weight: 300;
            }

            ul.countdown li.seperator {
                font-size: 3vw;
                line-height: 30px;
                vertical-align: top;
            }

            ul.countdown li p {
                color: #e83e43;
                font-size: 3vw;
            }
            /* emd counter clock css */

            @media (max-width: 767px) {

                .text-center-xs {
                    text-align: center;
                }
            }

            @media (min-width: 1000px) {
                .font-billetterie-date{
                    font-size: 100px;
                }
                .font-billetterie-date2{
                    font-size: 30px;
                }

                ul.countdown li span {
                    font-size: 90px;
                    font-weight: 300;
                }

                ul.countdown li.seperator {
                    font-size: 60px;
                    line-height: 40px;
                    vertical-align: top;
                }

                ul.countdown li p {
                    color: #e83e43;
                    font-size: 28px;
                }
            }
        </style>

        <!-- CONTENT --------------------------------------------------------------------------------->

        <div class="spacer-60"></div>

        <section class="fond-nuit-back">
            <div class="container text-center pb-5">
                <div class="row text-center">
                    <div class="col-md-12">
                        <div class="spacer-15"></div>
                        <p class="lead" style="color: greys"></p>
                    </div>
                </div>
            </div>
            <div class="row container text-center m-auto p-0">
                <div class="container col-md-12 col-lg-9 p-0">
                    <div class="h1-titre pt-4 pb-4 white">DONS</div>
                </div>
            </div>
            <div class="row container text-center m-auto p-0">
                <div class="container col-md-12 col-lg-12 p-0">
                    <p class="text-justify m-3 p-2 pb-5" style="color: #e83e43; font-size: 14px; max-width: 1200px;">
                        A notre plus grand regret, la 46ème édition des 24h de l’INSA n'a pas pu se tenir en mai 2020 dû à l’urgence sanitaire du covid-19.
                        Comme de nombreux secteurs, l’évènementiel a été fortement touché par cet incident, et c’est pourquoi votre aide est accueilli avec joie.
                        Cela nous permettra  d’assurer une édition 46bis aussi forte que les précédentes, ainsi que bien d’autres par la suite.
                    </p>
                </div>
            </div>
            <div class="row container text-center m-auto p-0">
                <div class="container col-md-12 col-lg-9 p-0">
                    <iframe id="haWidget" allowtransparency="true" scrolling="auto" src="https://www.helloasso.com/associations/24h-de-l-insa/formulaires/1/widget"
                            style="width:100%;height:750px;border:none;" onload="window.scroll(0, this.offsetTop)"></iframe>
                </div>
                <div class="spacer-30 d-none"></div>
            </div>
            <div>

            </div>
        </section>

        <!-- END CONTENT ---------------------------------------------------------------------------->

        <!-- FOOTER -->
            <%- include footer.ejs %>
        <!-- END FOOTER -->

        <!-- Scroll Top -->
        <a class="scroll-top">
            <i class="fa fa-angle-double-up"></i>
        </a>
        <!-- End Scroll Top -->

    </div>
    <!-- Site Wraper End -->


    <!-- JS -->
    <script src="../js/plugin/jquery.easing.js" type="text/javascript"></script>
    <script src="../js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.flexslider.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fitvids.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.viewportchecker.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.stellar.min.js" type="text/javascript"></script>
    <script src="../js/plugin/wow.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.colorbox-min.js" type="text/javascript"></script>
    <script src="../js/plugin/owl.carousel.min.js" type="text/javascript"></script>
    <script src="../js/plugin/isotope.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/imagesloaded.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fs.tipper.min.js" type="text/javascript"></script>
    <script src="../js/plugin/mediaelement-and-player.min.js"></script>
    <script src="../js/plugin/jquery.downCount.js" type="text/javascript"></script>
    <script src="../js/theme.js" type="text/javascript"></script>

    <script type="text/javascript">
		$("#menu-billetterie").css('color', '#e83e43');
		$("#title-page-nav").append("Dons");
		$("#sidebar-menu-dons").css('color', '#e83e43');
		$("#sidebar-menu-dons").css('color', '#e83e43');
    </script>

</body>
</html>
