<meta charset="utf-8" />
<title>Festival des 24h de l'INSA</title>
<meta name="google-site-verification" content="Ep8Ex-XB7pCuQ8vQhqnBMdGzCTtPQ3hXknophF2yHYI" />
<meta name="description" content="Festival des 24 heures de l'INSA à Villeurbanne chaque année au mois de mai. 2 soirées de concerts, 2 journées d'animations gratuites, 24 heures de courses sportives !
Entre amis ou en famille, nous vous attendons sur le campus de la Doua pour cet évènement organisé 100% par des étudiants !" />
<meta name="keywords" content="24h insa festival lyon la doua villeurbanne" />
<meta name="author" content="nileforest">
<meta name="theme-color" content="#202446">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

<!-- Favicone Icon -->
<link rel="shortcut icon" type="image/x-icon" href="/img/logos/logo_24h_generique_couleur_cut_50px.ico">
<link rel="icon" type="image/png" href="/img/logos/logo_24h_generique_couleur_cut_50px.png">
<link rel="apple-touch-icon" href="/img/logos/logo_24h_generique_couleur_cut_50px.png">

<!-- CSS -->
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />
<link href="/css/ionicons.css" rel="stylesheet" type="text/css" />
<link href="/css/plugin/animate.css" rel="stylesheet" type="text/css" />
<link href="/css/jquery-ui.css" rel="stylesheet" type="text/css" />
<link href="/css/24h.style.css" rel="stylesheet" type="text/css" />

<script src="/js/jquery-1.11.2.min.js" type="text/javascript"></script>
<% if (process.env.NODE_ENV != 'dev') { %>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116303927-1"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	console.log("jjj")
	gtag('config', 'UA-116303927-1');
</script>
<% } %>
